body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Futura, Helvetica, Sans-Serif;
    font-size: 2rem;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 2.5rem;
}

#am, #l, #ch, #es, #am_bio, #l_bio, #ch_bio, #am_fav, #l_fav, #ch_fav, #newDrink-info {
    width: 6rem;
    height: 3rem;
    background-color: #ffffff;
    font-family: Futura;
    font-size: 1rem;
    border-radius: 0.5rem;

}

label {
    width: 10rem;
    height: 2rem;
    background-color: #ffffff;
    font-family: Futura;
    font-size: 1.4rem;
    border-radius: 0.5rem;
}

#drink-info1, #drink-info2, #drink-info3, #newQuestion-info, #newDrink-info, #updateDrink-info, #deleteDrink-info {
    width: 20rem;
    height: 7rem;
    background-color: #ffffff;
    font-family: Futura;
    font-size: 1rem;
    border-radius: 0.5rem;
}

#up, #del {
    width: 10rem;
    height: 2rem;
    background-color: #ffffff;
    font-family: Futura;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-left: 5rem;
}

#buttons li {
    padding: 0.5rem;
    background-color: transparent;
}

#am:hover, #l:hover, #ch:hover, #es:hover, #up:hover, #del:hover, #am_bio:hover, #am_fav:hover,
#l_bio:hover, #l_fav:hover, #ch_bio:hover, #ch_fav:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}


#addForm ul li #addId,#updateForm ul li #updateId,
#deleteForm ul li #deleteId, #addQuestionForm ul li #addQuestion {
    width: 20rem;
    height: 25px;
    background-color: #ffffff;
    font-family: Futura, Georgia, Helvetica;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin-bottom: 4px;
}

#addForm ul li #addDrink, #updateForm ul li #updateDrink,
#deleteForm ul li #deleteDrink, #addQuestionForm ul li #addQuestion  {
    width: 20rem;
    height: 25px;
    background-color: #ffffff;
    font-family: Futura, Georgia, Helvetica;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

ul {
    list-style-type: none;
}


#submit-button, #updateButton, #deleteButton, #question_submit {
    height: 40px;
    background-color: #ff0000;
    color: #fff;
    font-family: Futura;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    width: 20rem;
    margin-top: 4px;
    margin-left: 4px;
}

h3 {
    font-family: Futura;
    margin-left: 2.5rem;
}

#submit-button:hover, #question_submit:hover {
    cursor: pointer;
    background-color: #db0f00;
}

/* Signup form */
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}



.modal-content {
    width: 50rem;
    height: 40rem;
    background-color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 20px;
    position: relative;
}

#loginId input, #signUpId input {
    width: 75%;
    height: 20px;
    display: block;
    margin: 10px auto;
    border-radius: 0.5rem;
    height: 40px;
    font-family: Futura;
    font-size: 1.4rem;
}

#loginTitle, #signUpTitle {
    font-family: Futura, Helvetica, Sans-Serif;
    font-size: 2rem;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 75%;
    margin: 0 auto;
}

#loginButton:hover, #signUpButton:hover{
    background-color: #d3d3d3;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* Sign up button */
.top {
    background-color: #f0f0f0;
    top: 0;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-left: 2.5rem;
}

.top-content h3, a {
    color: #000;
    width: 50%;
    height: 2rem;
    font-family: Futura;
    font-size: 1rem;

}

.top-content a {
    text-decoration: none;
}

.top:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}

#or {
    font-size: 2rem;
    font-family: Futura, Helvetica, Georgia;
}

#status {
    font-size: 2rem;
    margin-left: 2.5rem;
    background-color: #f0f0f0;
    border-radius: 0.2rem;
    font-family: Futura, Helvetica, Georgia;
}

#map {
    border: 1px solid #333;
    width: 80vw;
    height: 80vh;
    font-family: Futura;
    font-size: 1.4rem;
}